body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

#game-board {
  background-color: #F5E6CA;
  background-color: #343F56;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: #FB9300;
  border: .25vmin solid black;
}

.food {
  background-color: #F54748;
  border: .25vmin solid black;
}

.modifier {
  background-color: #28FFBF
}

#score {
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  color: #FB9300;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 35px;
  padding-left: 0;
}

#title {
  display: flex;
  align-self: flex-start;
  color: #FB9300;
  font-size: 12px;
  margin-top: 30px;
  margin-right: 35px;
  margin-left: 20px;
}
