body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

#game-board {
  background-color: #F5E6CA;
  background-color: #343F56;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: #FB9300;
  border: .25vmin solid black;
}

.snake-ghost {
  background-color: #343F56;
  border: .25vmin solid #FB9300;
  box-shadow: 0 0 5px #0a071b85;
}

.snake-mega {
  background-color: #28FFBF;
  box-shadow: 0 0 5px #FB9300;
  border: .25vmin solid black;
}

.food {
  background-color: #BB371A;
  border: .25vmin solid black;
}

.food-sm {
  background-color: #f72727;
  box-shadow: 0 0 5px #f72727;
}

.food-mega {
  background-color: #28FFBF;
  box-shadow: 0 0 5px white;
}

.food-ghost {
  background-color: #343F56;
  border: .25vmin solid #F54748;
  box-shadow: 0 0 5px #1b071985;
}
/* #ff2bed85; */

.food-speed {
  background-color: #FEFBF3;
  box-shadow: 0 0 5px white
}

#score {
  display: flex;
  align-self: flex-start;
  color: #FB9300;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 25px;
  padding-left: 0;
  flex-direction: column;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  /* flex-wrap: nowrap; */
}

#title {
  display: flex;
  align-self: flex-start;
  height: 20vh;
  flex-direction: column;
  color: #FB9300;
  font-size: 12px;
  margin-top: 40px;
  margin-right: 25px;
  margin-left: 20px;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}

#leaderboard {
  display: flex;
  flex-direction: column;
  color: #FB9300;
  font-size: 10px;
  align-self: center;
  justify-self: flex-end;
  padding: 10px;
  margin-left: 5px;
  text-align: center;
  /* padding-right: 100px; */
  max-width: 300px;
  height: 500px;
}

.leaderboard-box {
  padding-top: 10px;
  height: 499px;
  display: flex;
  flex-direction: row;
}

.leaderboard-box div {
  /* margin-left: -30px; */
  padding: 4px;
  padding-bottom: 5px;
  font-size: 8px;
}

.user-score {
  display: block;
}


#createItem {
  justify-self: flex-end;
}

#user-form {
  position: absolute;
  margin: auto;
  display: none;
}

.name div {
  margin-left: -7px;
  /* border: red solid 1px; */
}
